<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SOAPBasicAuthInjector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup>
    <applicationSettings>
        <SOAPBasicAuthInjector.Properties.Settings>
            <setting name="SOAPBasicAuthInjector_GenPactUserInfo_EmpServicePort_GetUserName_REQUEST"
                serializeAs="String">
                <value>https://genpacticsinstancedev01-a432914.integration.us2.oraclecloud.com:443/integration/flowsvc/soap/SOAP_SERVICE/v01/</value>
            </setting>
            <setting name="SOAPBasicAuthInjector_AR_CreateInvoice_InoviceData_createInvoice_REQUEST"
                serializeAs="String">
                <value>https://genpacticsinstancedev01-a432914.integration.us2.oraclecloud.com:443/integration/flowsvc/soap/PNMSOFT_AR_CREATEIN_INTEGRAT/v01/</value>
            </setting>
            <setting name="SOAPBasicAuthInjector_AR_CreditNote_CreditNote_CreateCredit_REQUEST"
                serializeAs="String">
                <value>https://genpacticsinstancedev01-a432914.integration.us2.oraclecloud.com:443/integration/flowsvc/soap/PNMSOFT_AR_CREDITNO_INTEGRAT/v01/</value>
            </setting>
            <setting name="SOAPBasicAuthInjector_AR_GetOracleInvoiceNumber_OracleInvoiceNumber_Oracleinovice_REQUEST"
                serializeAs="String">
                <value>https://genpacticsinstancedev01-a432914.integration.us2.oraclecloud.com:443/integration/flowsvc/soap/PNMSOFTGETORACLE_INTEGRATION/v01/</value>
            </setting>
            <setting name="SOAPBasicAuthInjector_AR_GetOutstandingAmount_GetInvoiceStatus_Invoice_Status_REQUEST"
                serializeAs="String">
                <value>https://genpacticsinstancedev01-a432914.integration.us2.oraclecloud.com:443/integration/flowsvc/soap/PNMSOFT_ORACLEINVO_INTEGRATIO/v01/</value>
            </setting>
            <setting name="SOAPBasicAuthInjector_AP_CreateCase_Create_Case_From_PNMSoft_Akritiv_REQUESTPortType_CreateCase_REQUEST"
                serializeAs="String">
                <value>https://genpacticsinstancedev01-a432914.integration.us2.oraclecloud.com:443/integration/flowsvc/soap/PNMSOFT_AKRITIV_CREATECA_INTEGRA/v01/</value>
            </setting>
            <setting name="SOAPBasicAuthInjector_AP_UpdateCase_UpdateInvoicePNMSoft_RequestPortType_UpdateInvoiceResponse_REQUEST"
                serializeAs="String">
                <value>https://genpacticsinstancedev01-a432914.integration.us2.oraclecloud.com:443/integration/flowsvc/soap/PNMSOFT_AKRITIV_UPDATECA_INTEGRA/v01/</value>
            </setting>
        </SOAPBasicAuthInjector.Properties.Settings>
    </applicationSettings>
</configuration>
